.movie-row {
  width:100%;
  box-sizing: border-box;
    margin: 3vw 0;
    padding: 0;
    z-index: 1;
  overflow: hidden;
}
.movie-row__button--left {
  left : 0;
}
.movie-row__button--right {
  right : 0;
 
}
  .movie-row__button {
    background: #141414;
    width : 40px;
    height : 100%;
    /* background-color: rgba(0, 0, 0, 0.6); */
    background: hsla(0,0%,8%,.7);
    color : white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    cursor : pointer;
    overflow: hidden;


  transition: all ease 0.6s;
  }
  .movie-row__title {
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 0px 0px 20px 20px;
  }
  .movie-row__list {
    margin-left: 40px;
    display: flex;
    width : max-content;
    transform: translateX();
    transition: all ease 1s;
  }
  .movie-row__carousel {
    position: relative;
}
.slider-item{
  width: 40%;
  box-sizing: border-box;
  display: inline-block;
  padding: 0 0.2vw;
  position: relative;
  vertical-align: top;
  white-space: normal;
  z-index: 1;
}
.slider-item-img{
  width:100%;
}
