.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 70px 0 70px;
  height: 5rem;
}

.header::after {
  content: "";
  position: absolute;
  bottom: -10px;
  border-bottom: 1px solid #dddddd;
  width: 100%;
  padding-bottom: 1rem;
}

.logo {
  flex: 1 0 11rem;
  width: 30%;
}

.centerSize {
  text-align: center;
  padding: 0 1rem;
  flex: 0 1 auto;
  min-width: 22rem;
}

.centerMenu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 3rem;

  border: 1px solid #dddddd;
  border-radius: 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.centerMenuFirstButton {
  padding-left: 1rem;
}

.boundary {
  background-color: #dddddd;
  height: 1.5rem;
  width: 1px;
}

.addGuest {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  padding-right: 0;

  /* margin-left: 1.3rem; */
  color: #717171;
}

.serachIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff385c;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  color: white;
}

.lastElement {
  display: flex;
  align-items: center;
  flex: 1 0 11rem;
  width: 40%;
  height: 100%;
}

.rightMenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.linkAndLanguage {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 3rem;
}

.startHostButton {
  font-size: 0.9rem;
}

.languageButton {
  padding: 1.3rem;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.hovering {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.startHostButton div::before {
  content: "";
  position: absolute;
  top: 9px;
  bottom: 0;
  left: -19px;
  z-index: -1;
  width: 14rem;
  height: 2.6rem;
  border-radius: 1.3rem;
}

.startHostButton div:hover::before {
  cursor: pointer;
  background-color: #f7f7f7;
}

.languageButton::before {
  content: "";
  position: absolute;
  top: 8px;
  bottom: 0;
  left: 7px;
  z-index: -2;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 1.3rem;
}

.languageButton:hover::before {
  cursor: pointer;
  background-color: #f7f7f7;
}

.userMenu {
  display: flex;
  align-items: center;
  border: 1px solid #6d6d6d;
  border-radius: 1.5rem;
  width: 5rem;
  height: 2.5rem;
}

.menuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.5rem 0.5rem 0.9rem;
}

.profileShape {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  margin-left: 0.7rem;
  background-color: #dddddd;
}
