@import "reset.css";
body{
  word-break: keep-all;
  background: #141414;
}
#root{
  width:100%
}
#mainwrap {
  background-color: black;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding:0px;
  flex-direction: column;
  position:relative;
}