.mainContentContainer {
  width: 75rem;
  padding: 0 4.5rem 0 4.5rem;
  margin-top: 1rem;
}

.travelContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.destination {
  font-weight: bold;
}

.destinationDescription {
  font-size: 0.9rem;
  color: #6d6d6d;
}

.price {
  font-weight: bold;
}
